<div class="row">
    <div class="col-12 col-lg-3 order-last">
        <div class="card-body">
            <h5 class="card-title">Tags</h5>
            <ul class="list-group list-group-flush">
                {{#each filter.tags}}
                    <li class="list-group-item">{{.}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col">
        {{{ filter.description }}}
        <h2>Try it out!</h2>

        <ul>
            {{#each filter.params}}
                <li>{{name}}: {{description}}</li>
            {{/each}}
        </ul>

        {{#if rendered}}
            <h2>Result</h2>
            <code>{{rendered}}</code>
        {{/if}}
    </div>
</div>
