<div class="row">
    <div class="col-12 col-lg-3 order-last">
        <div class="card-body">
            <h5 class="card-title">Tags</h5>
            <ul class="list-group list-group-flush">
                {{#each filter.tags}}
                    <li class="list-group-item">{{.}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col col-lg-9">
        {{{ filter.description }}}

        {{#if filter.params}}
            <h2>Try it out!</h2>

            <form id="filter_input">
                {{#each filter.params}}
                    {{#equal type "checkbox"}}
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="{{name}}" name="{{name}}"
                                   {{#equal true (lookup @root.params name)}}checked{{/equal}}>
                            <label class="form-check-label" for="{{name}}">{{description}}</label>
                        </div>
                    {{/equal}}
                    {{#equal type "string"}}
                        <div class="mb-3">
                            <label class="form-label" for="{{name}}">{{description}}:</label>
                            <input class="form-control" id="{{name}}" name="{{name}}"
                                   value="{{lookup @root.params name}}">
                        </div>
                    {{/equal}}
                    {{#equal type "list"}}
                        <div class="mb-3">
                            <label class="form-label">{{description}}:</label>
                            {{#each (lookup_list @root.params name)}}
                                <input class="form-control" name="{{name}}" value="{{this}}">
                            {{/each}}
                            <input class="form-control" name="{{name}}">
                            <input class="form-control" name="{{name}}">
                        </div>
                    {{/equal}}
                {{/each}}
                <button type="submit" class="btn btn-primary">Render</button>
            </form>
        {{else}}
            <h2>Filter contents</h2>
            <p>This filter does not have any parameters.</p>
        {{/if}}
        <code id="filter_output" style="white-space:pre-line">{{rendered}}</code>
    </div>
</div>
