<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo-small.svg">
    <link rel="stylesheet" href="/assets/dist/main.css">
    <script defer src="/assets/dist/main.js"></script>
    <title>{{ Title }} :: letsblock.it</title>

    <meta property="og:title" content="{{ Title }}"/>
    <meta property="og:description"
          content="Remove low-quality content and useless nags, focus on what matters. A community-maintained uBlock Origin filter set."/>
    <meta property="og:image" content="{{http_root @root}}/assets/images/logo-288.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="288"/>
    <meta property="og:image:height" content="288"/>
    <meta property="og:site_name" content="Let's Block It"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@LetsBlockIt"/>
    <link rel="alternate" type="application/atom+xml" title="Release notes from letsblock.it" href="{{href "news-atom" ""}}" />
</head>
<body hx-boost="true"{{#if HotReload}} data-hot-reload{{/if}}>
<nav class="navbar navbar-expand-md navbar-dark bg-primary" aria-label="Main navigation">
    <div class="container-lg">
        <a class="navbar-brand" href="/" aria-label="Return to homepage">
            <img src="/assets/images/logo.svg" alt="Project logo" {{#if GreyLogo}}
                 style="filter: grayscale(100%);"{{/if}}>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav align-items-stretch mt-3 mt-md-0" id="navbarSupportedContent">
            <div class="navbar-nav me-md-auto">
                {{#each NavigationLinks}}
                    <a class="nav-link{{#equal target @root.CurrentSection}} active"
                            aria-current="page{{/equal}}" href="/{{target}}">{{name}}</a>
                {{/each}}
            </div>
            <a class="nav-link{{#if @root.HasNews}} active{{/if}}{{#equal "news" @root.CurrentSection}} active"
                    aria-current="page{{/equal}}" href="{{href "news" ""}}">
                {{#if @root.HasNews}}{{>icon name="bell-ringing" class="me-1"}}{{/if}}
                News
                {{#if @root.HasNews}}{{>icon name="bell-ringing" class="ms-1"}}{{/if}}
            </a>
            {{#if UserLoggedIn}}
                <a class="nav-link{{#equal "user" @root.CurrentSection}} active"
                        aria-current="page{{/equal}}" href="{{href "user-account" ""}}">My account</a>
            {{else}}
                <form method="POST" class="me-2" hx-boost="false" action="{{href "user-action" "loginOrRegistration"}}">
                    {{{csrf @root}}}
                    <button class="btn btn-outline-light {{#equal "user" @root.CurrentSection}} active{{/equal}}"
                            type="submit">Login
                    </button>
                </form>
            {{/if}}
            <a class="nav-link pt-0 pb-0 " href="https://github.com/letsblockit/letsblockit">
                {{>icon name="brand-github" size=2.25 alt="Visit the project on GitHub"}}</a>
        </div>
    </div>
</nav>

<main id="main" class="container pb-4 pt-4 pt-md-5" {{#if NoBoost}}hx-boost="false"{{/if}}>
    <div id="htmx-alert" hidden class="alert alert-warning"></div>
    {{#if Sidebar}}
    <div class="row">
        <div class="col-12 col-lg-3 order-last pt-5 pt-lg-0">
            <hr class="d-lg-none"/>
            {{#if Sidebar.partial}}
                {{#with Data}}{{>(Sidebar.partial)}}{{else}}{{>(Sidebar.partial)}}{{/with}}
            {{else}}
                {{{Sidebar.contents}}}
            {{/if}}
        </div>
    <div class="col col-lg-9">
    {{/if}}
    {{#if Page.partial}}
        {{#with Data}}{{>(Page.partial)}}{{else}}{{>(Page.partial)}}{{/with}}
    {{else}}
        {{{Page.contents}}}
    {{/if}}
    {{#if Sidebar}}
    </div></div>
    {{/if}}
</main>
</body>
</html>
