<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.min.css{{assetHash}}">
    <script defer src="/assets/js/bootstrap.bundle.min.js{{assetHash}}"></script>
    <script defer src="/assets/js/htmx.min.js{{assetHash}}"></script>
    {{#each jsImports}}
        <script defer src="/assets/js/{{this}}{{assetHash}}"></script>
    {{/each}}
    <title>{{ title }}</title>
</head>
<body hx-boost="true">
<nav class="navbar navbar-expand-md navbar-dark bg-primary" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Let's block it!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
            <div class="navbar-nav ms-md-auto me-md-auto">
                {{#each navLinks}}
                    <a class="nav-link ms-2 me-2{{#equal target @root.navCurrent}} active" aria-current="page{{/equal}}"
                            href="/{{target}}">{{name}}</a>
                {{/each}}
            </div>
            <div class="navbar-nav">
                <a class="ms-2 me-2 nav-link" href="https://github.com/xvello/letsblockit" title="Github">
                    <i class="fab fa-lg fa-github"></i></a>
            </div>
        </div>
    </div>
</nav>

<main class="container p-5">
    <div class="container">
        {{#if _page.partial}}{{>(_page.partial)}}{{else}}{{{_page.contents}}}{{/if}}
    </div>
</main>
</body>
</html>