<div class="row">
    <div class="col-12 col-lg-2 order-last pt-5 pt-lg-0">
        <div class="card-body">
            <h5 class="card-title">Tags</h5>
            {{#if tag_search}}
                <p class="card-text">
                    <a href="{{href "list-filters" ""}}">← Back to all</a>
                </p>
            {{else}}
                <p class="card-text">{{#each filter_tags}}{{{tag this}}}{{/each}}</p>
            {{/if}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Contribute</h5>
            <p class="card-text">
                <a href="https://github.com/xvello/letsblockit/blob/main/data/filters/">Filters data</a>
            </p>
        </div>
    </div>
    <div class="col col-lg-10">
        {{#if active_filters }}
            {{#unless list_downloaded }}
                <div role="alert" class="alert alert-secondary has-background-secondary-light">
                    Now that you have setup filters, <a href="{{href "help" "use-list"}}">add your list to uBlock</a>
                    to use them.
                </div>
            {{/unless}}
            <h2>Active filter templates{{#if tag_search}} with tag <em>{{tag_search}}</em>{{/if}}</h2>
            <div>
                These filters are active in <a href="{{href "help" "use-list"}}">your personal list</a>.
                You can change their parameters or remove them below:</div>
            {{#with active_filters}}
                {{>list-filters-table}}
            {{/with}}
        {{else if @root.UserLoggedIn}}
            <div role="alert" class="alert alert-secondary has-background-secondary-light">
                Let's start adding filters to your list! What about <a href="{{href "view-filter" "search-results"}}">
                hiding pinterest in your search results?</a>
            </div>
        {{else if @root.UserHasAccount}}
        {{else}}
            <div role="alert" class="alert alert-secondary has-background-secondary-light">
                <form method="POST" class="form-inline" action="{{href "start-flow" "loginOrRegistration"}}">
                    <span class="align-middle">This website is an open repository of uBlock filters you can customize and
                        sync across your browsers.</span>
                    <button type="submit" class="btn btn-link p-0">Create an account</button>
                    <span class="align-middle">to start building your filter list.</span>
                </form>
            </div>
        {{/if}}

        {{#with available_filters}}
            <h2>Available filter templates{{#if @root.Data.tag_search}} with tag
                <em>{{@root.Data.tag_search}}</em>{{/if}}</h2>
            <div>Check these new filters and customize them for your use:</div>
            {{>list-filters-table}}
        {{/with}}
    </div>
</div>