{{#if @root.UserLoggedIn}}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">My filters</div>
        <div class="card-body">
            <p>
                {{#if filter_count}}
                    Your list has <b>{{filter_count}} active filters</b>, view them and add more
                {{else}}
                    Start adding filters to your list
                {{/if}}
                from the <a href="{{href "list-filters" ""}}">filter list page</a>.
            </p>
            <p>To use your filters in uBlock, add the following list:
                <a href="{{list_href list_token}}">{{list_href list_token}}</a></p>
        </div>
    </div>

    <div class="card mb-3 shadow-sm">
        <div class="card-header">Manage my account</div>
        <div class="card-body">
            <p>Account management is provided by <a target="_blank" href="https://www.ory.sh/">the fine folks at Ory</a>.
            </p>
            <form method="POST">
                <button type="submit" class="btn btn-primary me-2"
                        formaction="{{href "start-flow" "settings"}}">Change email or password
                </button>
                <button type="submit" class="btn btn-info"
                        formaction="{{href "start-flow" "logout"}}">Log out
                </button>
            </form>
        </div>
    </div>
{{else}}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">Account needed</div>
        <div class="card-body">
            <p>You need to create an account or login</p>
            <form method="POST" action="{{href "start-flow" "loginOrRegistration"}}">
                <button type="submit" class="btn btn-primary">Create an account or login</button>
            </form>
        </div>
    </div>
{{/if}}
