{{#if @root.UserLoggedIn}}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">Exporting my data</div>
        <div class="card-body">
            <p>
                {{#if filter_count}}
                    Your list has <b>{{filter_count}} active filters</b>, view them and add more
                {{else}}
                    Start adding filters to your list
                {{/if}}
                from the <a href="{{href "list-filters" ""}}">filter list page</a>. Here are options
                to export your data:
            </p>
            <ul>
                <li>Download the <a href="{{href "render-filterlist" list_token}}">generated rules as a file</a>
                    , to copy into your content blocker.
                </li>
                <li>Alternatively, you can <a href="{{href "export-filterlist" list_token}}">export your paramers</a>
                    to import elsewhere or use locally.
                </li>
            </ul>
        </div>
    </div>

    <div class="card mb-3 shadow-sm">
        <div class="card-header">Manage my account</div>
        {{#if (href "user-action" "settings")}}
            <form class="card-body" method="POST">
                {{{csrf @root}}}
                <p>
                    Account management is provided by
                    <a target="_blank" href="https://www.ory.sh/docs">the fine folks at Ory</a>.
                    Read more about it in <a href="{{href "help" "privacy"}}">our privacy page</a>.
                </p>
                <button type="submit" class="btn btn-primary me-2"
                        formaction="{{href "user-action" "settings"}}">Change email or password
                </button>
                <button type="submit" class="btn btn-dark"
                        formaction="{{href "user-action" "logout"}}">Log out
                </button>
            </form>
        {{else}}
            <div class="card-body">Your user ID is <strong>{{@root.UserID}}</strong>.</div>
        {{/if}}
    </div>

    <div class="card mb-3 shadow-sm">
        <div class="card-header">Interface preferences</div>
        <form class="card-body" method="POST" action="{{href "update-preferences" ""}}">
            {{{csrf @root}}}
            <div class="form-check mb-3">
                <label for="color-modes">Color mode:</label>
                <div class="btn-group ms-2" role="group" id="color-modes" aria-label="Color mode choice">
                    <input type="radio" class="btn-check" name="color_mode" value="light" id="light-color-mode"
                        {{#equal "light" @root.Preferences.ColorMode}} checked{{/equal}}>
                    <label class="btn btn-outline-dark" for="light-color-mode">Light</label>
                    <input type="radio" class="btn-check" name="color_mode" value="auto" id="auto-color-mode"
                        {{#equal "auto" @root.Preferences.ColorMode}} checked{{/equal}}>
                    <label class="btn btn-outline-dark" for="auto-color-mode">Auto</label>
                    <input type="radio" class="btn-check" name="color_mode" value="dark" id="dark-color-mode"
                        {{#equal "dark" @root.Preferences.ColorMode}} checked{{/equal}}>
                    <label class="btn btn-outline-dark" for="dark-color-mode">Dark</label>
                </div>
            </div>
            <div class="form-check form-switch mb-3">
                <input type="checkbox" role="switch" class="form-check-input"
                    {{#if (beta_features @root)}} checked{{/if}}
                       name="beta_features" id="betaFeaturesCheck">
                <label title="Access unfinished features such as filter testing mode."
                       class="form-check-label" for="betaFeaturesCheck">
                    Enable beta features (here be dragons!)
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Save preferences</button>
        </form>
    </div>

    <div class="card mb-3 shadow-sm">
        <div class="card-header">Rotate my list download token</div>
        <form class="card-body" method="POST" action="{{href "rotate-list-token" ""}}">
            {{{csrf @root}}}
            <p class="mb-2">
                You can generate a new download token down below, to stop downloads at the old URL.
                <strong>Please note that you need to update all your browsers with the new link</strong>,
                <a href="{{href "help" "use-list"}}">see the help page</a>.
            </p>
            <div class="mb-2">
                <label>Current token: <code class="text-dark">{{list_token}}</code></label>
                <input type="hidden" name="token" value="{{list_token}}">
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" required name="confirm" id="confirmCheck">
                <label class="form-check-label" for="confirmCheck">
                    I really want to generate a new token and will update all my browsers' configuration.
                </label>
            </div>
            <button type="submit" class="btn btn-dark">Do it!</button>
        </form>
    </div>
{{else}}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">Account needed</div>
        <div class="card-body">
            <p>You need to create an account or login</p>
            <form method="POST" action="{{href "user-action" "loginOrRegistration"}}">
                {{{csrf @root}}}
                <button type="submit" class="btn btn-primary">Create an account or login</button>
            </form>
        </div>
    </div>
{{/if}}
