{{#if @root.UserVerified}}
    <div class="card mb-3">
        <div class="card-header">My filters</div>
        <div class="card-body">
            <p>
                {{#if filter_count}}
                    Your list has <b>{{filter_count}} active filters</b>, view them and add more
                {{else}}
                    Start adding filters to your list
                {{/if}}
                from the <a href="{{href "list-filters" ""}}">filter list page</a>.
            </p>
            <p>To use your filters in uBlock, add the following list:
                <a href="{{list_href list_token}}" hx-boost="false">{{list_href list_token}}</a></p>
        </div>
    </div>
{{else}}
    <div class="card mb-3" hx-boost="false">
        <div class="card-header">Unverified account</div>
        <div class="card-body">
            <p>You need to verify your e-mail address before you can add filters. Check your inbox and spam folder
                for an e-mail from <em>no-reply@ory.sh</em>, or <a href="/.ory/ui/verification">get a new link</a></p>
        </div>
    </div>
{{/if}}

<div class="card mb-3" hx-boost="false">
    <div class="card-header">My account</div>
    <div class="card-body">
        <p>Account management is provided by <a href="https://www.ory.sh/">the fine folks at Ory</a>.</p>
        <a href="/.ory/ui/settings" class="btn btn-primary">Change email or password</a>
        <a href="{{href "user-logout" ""}}" class="btn btn-primary">Logout</a>
    </div>
</div>
