{{#if (eq type "checkbox")}}
    <div class="mb-3 form-check{{#with OnlyIf}} ps-lg-4" data-hide-unless="{{this}}{{/with}}">
        <input type="checkbox" class="form-check-input" id="{{name}}" name="{{name}}"
               {{#equal true (lookup @root.data.params name)}}checked{{/equal}}>
        <label class="form-check-label" for="{{name}}">
            {{description}}
            {{>view-filter-pill-new name}}
        </label>
    </div>
{{else if (eq type "string")}}
    <div class="mb-3{{#with OnlyIf}} ps-lg-4" data-hide-unless="{{this}}{{/with}}">
        <label class="form-label" for="{{name}}">
            {{description}}:
            {{>view-filter-pill-new name}}
        </label>
        <input class="form-control" id="{{name}}" name="{{name}}" spellcheck="false"
               value="{{lookup @root.data.params name}}">
    </div>
{{else if (eq type "multiline")}}
    <div class="mb-3{{#with OnlyIf}} ps-lg-4" data-hide-unless="{{this}}{{/with}}">
        <label class="form-label" for="{{name}}">
            {{description}}:
            {{>view-filter-pill-new name}}
        </label>
        <textarea class="form-control" id="{{name}}" name="{{name}}" spellcheck="false" rows="10">
            {{~lookup @root.data.params name}}</textarea>
    </div>
{{else if (eq type "list")}}
    <fieldset class="row mb-3{{#with OnlyIf}} ps-lg-4" data-hide-unless="{{this}}{{/with}}">
        <legend class="col-form-label col-sm-auto pt-0">
            {{description}}:
            {{>view-filter-pill-new name}}
        </legend>
        <div class="col-lg-9">
            {{#each (lookup_list @root.data.params name)}}
                <div class="input-group mb-1">
                    <input type="text" class="form-control" name="{{name}}" spellcheck="false" value="{{this}}">
                    <button class="btn btn-outline-success" type="button"
                            aria-label="Add a row below"
                            title="Add a row below" onclick="addFilterParamRow(this);">
                        <i class="ti ti-plus"></i>
                    </button>
                    <button class="btn btn-outline-primary" type="button"
                            aria-label="Delete this row"
                            title="Delete this row" onclick="deleteFilterParamRow(this);">
                        <i class="ti ti-trash"></i>
                    </button>
                </div>
            {{/each}}
            <div class="input-group mb-1">
                <input type="text" class="form-control" name="{{name}}" spellcheck="false">
                <button class="btn btn-outline-success" type="button"
                        aria-label="Add a row below"
                        title="Add a row below" onclick="addFilterParamRow(this);">
                    <i class="ti ti-plus"></i>
                </button>
                <button class="btn btn-outline-primary" type="button"
                        aria-label="Delete this row"
                        title="Delete this row" onclick="deleteFilterParamRow(this);">
                    <i class="ti ti-trash"></i>
                </button>
            </div>
            {{#each presets}}
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input"
                           id="{{preset_name .. .}}" name="{{preset_name .. .}}"
                           {{#equal true (lookup @root.data.params (preset_name .. .))}}checked{{/equal}}>
                    <label class="form-check-label" for="{{preset_name .. .}}">
                        {{description}}
                        {{#with source}}
                            <span class="small ms-1">(<a href="{{source}}">source</a>)</span>
                        {{/with}}
                        {{>view-filter-pill-new (preset_name .. .)}}
                    </label>
                </div>
            {{/each}}
        </div>
    </fieldset>
{{/if}}