<div class="row">
    <div class="col-12 col-lg-3 order-last">
        <div class="card-body">
            <h5 class="card-title">Tags</h5>
            <p class="card-text">{{#each filter.tags}}{{{tag this}}}{{/each}}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Contribute</h5>
            <p class="card-text">
                <a href="https://github.com/xvello/letsblockit/blob/main/data/filters/{{filter.name}}.yaml">Filter
                    source</a>
            </p>
        </div>
    </div>
    <div class="col col-lg-9">
        <h2>{{filter.title}}</h2>
        <p class="lead">{{filter.blurb}}</p>
        {{{ filter.description }}}

        {{#if filter.params}}
            <h2>Try it out!</h2>

            <form id="filter_input" action="#output-card">
                {{#each filter.params}}
                    {{#equal type "checkbox"}}
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="{{name}}" name="{{name}}"
                                   {{#equal true (lookup @root.params name)}}checked{{/equal}}>
                            <label class="form-check-label" for="{{name}}">{{description}}</label>
                        </div>
                    {{/equal}}
                    {{#equal type "string"}}
                        <div class="mb-3">
                            <label class="form-label" for="{{name}}">{{description}}:</label>
                            <input class="form-control" id="{{name}}" name="{{name}}"
                                   value="{{lookup @root.params name}}">
                        </div>
                    {{/equal}}
                    {{#equal type "list"}}
                        <div class="mb-3">
                            <label class="form-label">{{description}}:</label>
                            {{#each (lookup_list @root.params name)}}
                                <input class="form-control ms-4 mb-1 w-75" name="{{name}}" value="{{this}}">
                            {{/each}}
                            <input class="form-control ms-4 mb-1 w-75" name="{{name}}">
                            <input class="form-control ms-4 mb-1 w-75" name="{{name}}">
                        </div>
                    {{/equal}}
                {{/each}}
                <button type="submit" class="btn btn-primary">Render</button>
            </form>
        {{else}}
            <h2>Filter contents</h2>
            <p>This filter does not have any parameters.</p>
        {{/if}}
        <div id="output-card" class="card mt-4" style="cursor: pointer" onclick="copyOutput();">
            <div class="card-body">
                <code id="output-code" class="card-text text-primary" style="white-space:pre-line">{{rendered}}</code>
            </div>
            <div id="output-footer" class="card-footer text-end">Click to copy to clipboard</div>
        </div>
    </div>
</div>

<script>
    function copyOutput() {
        navigator.clipboard.writeText(document.getElementById("output-code").innerHTML);
        document.getElementById("output-card").classList.add("border-success")

        const footer = document.getElementById("output-footer");
        footer.innerText = "Copied to clipboard";
        footer.classList.add("bg-success", "text-white")
    }
</script>
