<div class="row">
    <div class="col-12 col-lg-2 order-last pt-5 pt-lg-0">
        <hr class="d-lg-none"/>
        <nav class="navbar navbar-light flex-column align-items-stretch">
            <a class="nav-link" href="{{href "list-filters" ""}}">← Back to list</a>
            <span class="navbar-brand mt-3">Filter tags:</span>
            <nav class="nav nav-pills flex-column">
                    <span class="nav-link">{{#each filter.tags}}{{{tag this}}}{{/each}}</span>
            </nav>
            <span class="navbar-brand mt-3">Contribute:</span>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="https://github.com/letsblockit/letsblockit/issues/new?labels=filter-data&template=update-filter.yaml&what_filter_does_this_issue_target={{filter.name}}">Suggest a change</a>
                <a class="nav-link" href="https://github.com/letsblockit/letsblockit/blob/main/data/filters/{{filter.name}}.yaml">Filter source</a>
            </nav>
        </nav>
    </div>
    <div class="col col-lg-10">
        <h2>{{filter.title}}</h2>
        {{{ filter.description }}}

        {{#if filter.params}}
            <div class="mt-4 card shadow-sm">
                <div class="card-header">Build your customized content filter:</div>
                <form id="filter_input" class="card-body" method="POST" action="#output-card"
                      hx-trigger="input delay:250ms"
                      hx-post="{{href "view-filter-render" filter.name}}"
                      hx-target="#output-card"
                      hx-swap="outerHTML">

                    {{{csrf @root}}}
                    {{#each filter.params}}
                        {{~>view-filter-param}}
                    {{/each}}

                    <div class="d-flex align-items-center">
                        {{#if @root.UserLoggedIn}}
                            <input type="hidden" name="__logged_in" value="true">
                            <noscript><button type="submit" name="__render" class="btn btn-secondary me-2">
                                Preview
                            </button></noscript>
                            <button type="submit" name="__save" class="ms-2 me-2 btn btn-primary"
                                    hx-vals='{"__save": ""}'
                                    hx-post="{{href "view-filter" filter.name}}"
                                    hx-select="#main" hx-target="#main" hx-swap="outerHTML">
                                {{#if has_instance}}
                                    {{>icon name="edit" class="button-icon"}}
                                    Update filter
                                {{else}}
                                    {{>icon name="plus" stroke=2.5 class="button-icon"}}
                                    Add filter
                                {{/if}}
                            </button>
                        {{else}}
                            <noscript>
                                <button type="submit" name="__render" class="btn btn-primary">Render</button>
                            </noscript>
                        {{/if}}
                        {{#if (beta_features @root) }}
                        <div class="ms-2 form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="__test_mode" name="__test_mode"
                                   {{#equal true @root.data.test_mode}}checked{{/equal}}>
                            <label class="form-check-label" for="__test_mode">Test</label>
                        </div>
                        {{/if}}
                        <div class="ms-2 htmx-indicator spinner-border text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        {{#if has_instance}}
                            <button type="submit" name="__disable" class="btn btn-outline-dark ms-auto"
                                    hx-confirm="Remove filter and delete its configuration?"
                                    hx-vals='{"__disable": ""}'
                                    hx-post="{{href "view-filter" filter.name}}"
                                    hx-select="#main" hx-target="#main" hx-swap="outerHTML">
                                {{>icon name="trash" class="button-icon"}}
                                Remove filter
                            </button>
                        {{/if}}
                    </div>
                </form>
            </div>
        {{else}}
            <div class="mt-4 d-flex align-items-center">
                <form id="filter_input" class="container form-inline" method="POST" action="#output-card"
                      hx-post="{{href "view-filter" filter.name}}"
                      hx-select="#main" hx-target="#main" hx-swap="outerHTML">
                    {{{csrf @root}}}
                    {{#if has_instance}}
                        <button class="btn btn-primary me-2" disabled>Filter already in your list.</button>
                        <button type="submit" name="__disable" class="ms-2 btn btn-outline-dark ms-auto"
                                hx-confirm="Remove filter and delete its configuration?"
                                hx-vals='{"__disable": ""}'
                                hx-post="{{href "view-filter" filter.name}}"
                                hx-select="#main" hx-target="#main" hx-swap="outerHTML">
                            {{>icon name="trash" class="button-icon"}}
                            Remove filter
                        </button>
                    {{else if @root.UserLoggedIn}}
                        <button type="submit" name="__save" class="btn btn-primary">
                            {{>icon name="plus" stroke=2.5 class="button-icon"}}
                            Add filter
                        </button>
                        {{#if (beta_features @root) }}
                            <div class="ms-2 form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="__test_mode" name="__test_mode"
                                       {{#equal true @root.data.test_mode}}checked{{/equal}}>
                                <label class="form-check-label" for="__test_mode">Test</label>
                            </div>
                        {{/if}}
                    {{/if}}
                </form>
            </div>
        {{/if}}
        {{>view-filter-render}}
    </div>
</div>
