<h2>{{title}}</h2>
<p>Coucou.</p>

<ul id="filters" class="list-group ps-lg-4 pe-lg-4" hx-boost="false">
    {{#each filters}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{title}}
            <form method="POST" action="#filters" onSubmit="return confirm('Delete filter {{name}}?')">
                <a href="{{href "view-filter" name}}" type="button" class="btn btn-sm btn-outline-success">Edit</a>
                <input type="hidden" name="delete" value="{{name}}"/>
                <button type="submit" class="btn btn-sm btn-outline-primary">Delete</button>
            </form>
        </li>
    {{/each}}
</ul>
