<div class="row">
    <div class="col-12 col-lg-3 order-last">
        <div class="card-body">
            <h5 class="card-title">Tags</h5>
            <p class="card-text">{{#each filter.tags}}{{{tag this}}}{{/each}}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Contribute</h5>
            <p class="card-text">
                <a href="https://github.com/xvello/letsblockit/blob/main/data/filters/{{filter.name}}.yaml">Filter
                    source</a>
            </p>
        </div>
    </div>
    <div class="col col-lg-9">
        <h2>{{filter.title}}</h2>
        <p class="lead">{{filter.blurb}}</p>
        {{{ filter.description }}}

        {{#if filter.params}}
            <h2>Try it out!</h2>
            <div class="card shadow-sm">
                <div class="card-header">Tune the following options and click Render:</div>
                <form id="filter_input" class="card-body" action="#output-card"
                      hx-get="#output-card" hx-target="#output-card" hx-select="#output-card" hx-swap="outerHTML">
                    {{#each filter.params}}
                        {{#equal type "checkbox"}}
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="{{name}}" name="{{name}}"
                                       {{#equal true (lookup @root.params name)}}checked{{/equal}}>
                                <label class="form-check-label" for="{{name}}">{{description}}</label>
                            </div>
                        {{/equal}}
                        {{#equal type "string"}}
                            <div class="mb-3">
                                <label class="form-label" for="{{name}}">{{description}}:</label>
                                <input class="form-control" id="{{name}}" name="{{name}}"
                                       value="{{lookup @root.params name}}">
                            </div>
                        {{/equal}}
                        {{#equal type "list"}}
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-auto pt-0">{{description}}:</legend>
                                <div class="col-sm-8 filter-values-list">
                                    {{#each (lookup_list @root.params name)}}
                                        <div class="input-group mb-1">
                                            <input type="text" class="form-control" name="{{name}}" value="{{this}}">
                                            <button class="btn btn-outline-success" type="button"
                                                    title="Add a row below"
                                                    onclick="addRow(this);">+
                                            </button>
                                            <button class="btn btn-outline-primary" type="button"
                                                    title="Delete this row"
                                                    onclick="deleteRow(this);">–
                                            </button>
                                        </div>
                                    {{/each}}
                                    <div class="input-group mb-1">
                                        <input type="text" class="form-control" name="{{name}}">
                                        <button class="btn btn-outline-success" type="button" title="Add a row below"
                                                onclick="addRow(this);">+
                                        </button>
                                        <button class="btn btn-outline-primary" type="button" title="Delete this row"
                                                onclick="deleteRow(this);">–
                                        </button>
                                    </div>
                            </fieldset>
                        {{/equal}}
                    {{/each}}
                    <button type="submit" class="btn btn-primary">Render</button>
                </form>
            </div>
        {{else}}
            <h2>Filter contents</h2>
            <p>This filter does not have any parameters.</p>
        {{/if}}
        <div id="output-card" class="card mt-4 shadow-sm">
            <div id="output-header" class="card-header d-flex justify-content-between align-items-center">
                Copy this to your uBlock filters:
                <button type="button" class="btn btn-sm btn-outline-success" onclick="copyOutput();">Copy to clipboard
                </button>
            </div>
            <div class="card-body">
                <code id="output-code" class="card-text text-primary" style="white-space:pre-line">{{rendered}}</code>
            </div>
        </div>
    </div>
</div>

<script>
    function copyOutput() {
        navigator.clipboard.writeText(document.getElementById("output-code").innerHTML);
        document.getElementById("output-card").classList.add("border-success")

        const footer = document.getElementById("output-header");
        footer.innerText = "Copied to clipboard";
        footer.classList.add("bg-success", "text-white")
    }

    function deleteRow(clicked) {
        clicked.closest(".input-group").remove()
    }

    function addRow(clicked) {
        const thisGroup = clicked.closest(".input-group")
        const clonedGroup = thisGroup.cloneNode(true)
        clonedGroup.getElementsByTagName('input')[0].value = ""
        thisGroup.parentNode.insertBefore(clonedGroup, thisGroup.nextSibling);
    }
</script>
