<div class="row">
    <div class="col-12 col-lg-3 order-last">
        <div class="card-body">
            <h5 class="card-title">Tags</h5>
            <p class="card-text">{{#each filter.tags}}{{{tag this}}}{{/each}}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Contribute</h5>
            <p class="card-text">
                <a href="https://github.com/xvello/letsblockit/blob/main/data/filters/{{filter.name}}.yaml">Filter
                    source</a>
            </p>
        </div>
    </div>
    <div class="col col-lg-9">
        <h2>{{filter.title}}</h2>
        <p class="lead">{{filter.blurb}}</p>
        {{{ filter.description }}}

        {{#if filter.params}}
            <h2>Try it out!</h2>
            <div class="card shadow-sm">
                <div class="card-header">Tune the following options and click Render:</div>
                <form id="filter_input" class="card-body" method="POST" action="#output-card"
                      hx-post="{{href "view-filter-render" filter.name}}"
                      hx-target="#output-card"
                      hx-swap="outerHTML show:top">
                    {{#each filter.params}}
                        {{#equal type "checkbox"}}
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="{{name}}" name="{{name}}"
                                       {{#equal true (lookup @root.params name)}}checked{{/equal}}>
                                <label class="form-check-label" for="{{name}}">{{description}}</label>
                            </div>
                        {{/equal}}
                        {{#equal type "string"}}
                            <div class="mb-3">
                                <label class="form-label" for="{{name}}">{{description}}:</label>
                                <input class="form-control" id="{{name}}" name="{{name}}"
                                       value="{{lookup @root.params name}}">
                            </div>
                        {{/equal}}
                        {{#equal type "list"}}
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-auto pt-0">{{description}}:</legend>
                                <div class="col-lg-9">
                                    {{#each (lookup_list @root.params name)}}
                                        <div class="input-group mb-1">
                                            <input type="text" class="form-control" name="{{name}}" value="{{this}}">
                                            <button class="btn btn-outline-success" type="button"
                                                    aria-label="Add a row below"
                                                    title="Add a row below" onclick="addRow(this);">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                            <button class="btn btn-outline-primary" type="button"
                                                    aria-label="Delete this row"
                                                    title="Delete this row" onclick="deleteRow(this);">
                                                <i class="far fa-trash-alt"></i>
                                        </div>
                                    {{/each}}
                                    <div class="input-group mb-1">
                                        <input type="text" class="form-control" name="{{name}}">
                                        <button class="btn btn-outline-success" type="button"
                                                aria-label="Add a row below"
                                                title="Add a row below" onclick="addRow(this);">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button class="btn btn-outline-primary" type="button"
                                                aria-label="Delete this row"
                                                title="Delete this row" onclick="deleteRow(this);">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        {{/equal}}
                    {{/each}}
                    <div class="d-flex align-items-center">
                        {{#if verified}}
                            <button type="submit" name="__render" class="btn btn-secondary me-2">Preview</button>
                            <button type="submit" name="__save" class="btn btn-primary"
                                    hx-vals='{"__save": ""}'
                                    hx-post="{{href "view-filter" filter.name}}"
                                    hx-select="#main" hx-target="#main" hx-swap="outerHTML">
                                {{#if has_instance}}Update filter{{else}}Save filter{{/if}}
                            </button>
                        {{else}}
                            <button type="submit" name="__render" class="btn btn-primary">Render</button>
                        {{/if}}
                        <div class="ms-3 htmx-indicator spinner-border text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        {{#if has_instance}}
                            <button type="submit" name="__disable" class="btn btn-info ms-auto"
                                    onSubmit="return confirm('Disable filter and delete its configuration?')"
                                    hx-confirm="Disable filter and delete its configuration?"
                                    hx-vals='{"__disable": ""}'
                                    hx-post="{{href "view-filter" filter.name}}"
                                    hx-select="#main" hx-target="#main" hx-swap="outerHTML">
                                Disable filter
                            </button>
                        {{/if}}
                    </div>
                </form>
            </div>
        {{else}}
            <h2>Filter contents</h2>
            <div class="d-flex align-items-center">
                {{#if has_instance}}
                    <button class="btn btn-primary" disabled>Filter already in your list.</button>
                    <button type="submit" name="__disable" class="btn btn-info ms-auto"
                            onSubmit="return confirm('Disable filter?')"
                            hx-confirm="Disable filter?"
                            hx-vals='{"__disable": ""}'
                            hx-post="{{href "view-filter" filter.name}}"
                            hx-select="#main" hx-target="#main" hx-swap="outerHTML">
                        Disable filter
                    </button>
                {{else if verified}}
                    <form id="filter_input" method="POST" action="#output-card"
                          hx-post="{{href "view-filter" filter.name}}"
                          hx-select="#main" hx-target="#main" hx-swap="outerHTML">
                        <button type="submit" name="__save" class="btn btn-primary">
                            {{#if has_instance}}Update filter{{else}}Save filter{{/if}}
                        </button>
                    </form>
                {{else}}
                    This filter does not have any parameters.
                {{/if}}
            </div>
        {{/if}}
        {{>view-filter-render}}
    </div>
</div>

<script>
    function copyOutput(clicked) {
        navigator.clipboard.writeText(document.getElementById("output-code").innerText);
        document.getElementById("output-card").classList.add("border-success")
        document.getElementById("output-copy-text").innerText = "Copied to clipboard"
        const icon = document.getElementById("output-copy-icon")
        icon.classList.replace("far", "fas")
        icon.classList.replace("fa-clipboard", "fa-clipboard-check")
        clicked.classList.add("btn-success")
    }

    function resetRow(row) {
        row.getElementsByTagName('input')[0].value = ""
    }

    function deleteRow(clicked) {
        const thisRow = clicked.closest(".input-group")
        if (thisRow.parentNode.childElementCount === 1) {
            resetRow(thisRow) // Don't allow removing the last row
        } else {
            thisRow.remove()
        }
    }

    function addRow(clicked) {
        const thisRow = clicked.closest(".input-group")
        const clonedRow = thisRow.cloneNode(true)
        resetRow(clonedRow)
        thisRow.parentNode.insertBefore(clonedRow, thisRow.nextSibling);
    }
</script>
